* {
  font-family: Helvetica, Arial;
}

img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.add-section {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.friend {
  margin-left: 20px;
  width: 110px;
}

.name, .description, .popular {
  margin-bottom: 5px;
}

.name {
  font-weight: 600;
  font-size: 18px;
}

.description {
  color: rgb(161, 161, 161);
  font-size: 16px;
}

.popular {
  color: rgb(161, 161, 161);
  font-size: 14px;
}

.button {
  font-weight: 600;
  font-size: 16px;
  margin-left: 85px;
  background-color: rgb(59, 153, 216);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}